{% extends 'base.html.twig' %}

{% block title %} 
    <title>
        Update User 
    </title>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Update User</h1>
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-info">Update User</button>
{{form_end(form)}}
</div>





{% endblock %}