{% extends 'base.html.twig' %}

{% block title %} 
    <title>
        Update Product 
    </title>
{% endblock %}

{% block body %}

<div class="container" id="add-product">
    <h1>Update Product</h1>
{{form_start(form)}}
{{form_widget(form)}}
<button class="btn btn-info">Update Product</button>
{{form_end(form)}}
</div>





{% endblock %}