<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

        {% block title %}
        <title>
            Skeleton 
        </title>
        {% endblock %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


<!-- Custom styles for this template -->

<link href="css/heroic-features.css" rel="stylesheet">
<link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">

<link rel="shortcut icon" href="{{asset('/images/favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{asset('images/favicon.ico')}}" type="image/x-icon">

<link rel="stylesheet" href="{{asset('css/style.css')}}">

</head>
<body>
    

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark  bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">SoundSystem</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{path("home")}}">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                  {# <a class="nav-link" href="{{path("product")}}">Product</a> #}
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{{path("sign_up")}}">Sign Up</a>
              </li>

              {# {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %} #}
              <li class="nav-item">
                  <a class="nav-link" href="{{path("login")}}">Log In</a>
              </li>
              {# {% endif %} #}

              {# {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %} #}
              {# <li class="nav-item">
                  <a class="nav-link" href="{{path("logout")}}">Logout</a>
              </li> #}
              <li class="nav-item">
                <a class="nav-link" href="{{path("add_product")}}">Add Product</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" href="{{path("add_category")}}">Add Category</a>
            </li>
            {# <li class="nav-item" >
                <a class="nav-link" href="{{path("update_user")}}">Update User</a>
            </li> #}
              {# {% endif %} #}


              <li>
                   <a href="#"> <i class="fas fa-shopping-cart"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

{% block body %}

{% endblock %}

 <!-- Footer -->
 <footer class="py-5  bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy;SoundSystem 2018</p>
    </div>
</footer>


 <!-- Bootstrap core JavaScript -->
 <script src="vendor/jquery/jquery.min.js"></script>
 <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
     crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
     crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
     crossorigin="anonymous"></script>
</body>
</html>